body {background-color: rgb(2, 175, 233);

}
h1 {color: white;
    text-align: center;
   

}

p{font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}
  
h2 {color: red;
}

#paral{
    color: red;
    text-align: center;
}

p {text-align: center;
    color: rgb(58, 3, 48);
}

p{
    color: bisque;
}

button{background-color: black;
    color: blueviolet;

}

#sidebar {font-size: x-large;
text-align: center;
font-family: 'Times New Roman', Times, serif;
color: chartreuse;
}

